@use "variables";
@use "mixin";

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadein 1s;
  padding: 6rem 6rem;
}

.img {
  border: 3px solid variables.$white !important;
  border-radius: 10px;
}

@media screen and (width < 576px) {
  .subcontainer {
    padding: 6rem 0;
    height: auto;
    h1 {
      text-align: center !important;
    }
  }
}

@include mixin.keyframeFadeIn;
