@use "variables";
@use "mixin";

.subcontainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn {
  @include mixin.btn;
  &:hover,
  &:focus {
    color: variables.$white;
  }
}

.ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
  li > i {
    font-size: 1.5rem;
    color: variables.$white;
    line-height: 3rem;
  }
}

@media screen and (width < 576px) {
  .subcontainer {
    padding: 6rem 0;
    height: auto;
  }
}
