@use "variables";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid variables.$cod-grey;
  width: 100vw;
}

.nav {
  margin-left: auto;
  gap: 2rem;
  a {
    padding: 0 !important;
    font-weight: 500;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: variables.$white;
      width: 0;
      height: 2px;
      margin-top: 0.3rem;
      transition: width 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
