@use "variables";

.row {
  margin: 6rem auto;
  row-gap: 2rem;
}

.card {
  background-color: variables.$white !important;
  width: 18rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: variables.$grey !important;
    color: variables.$white !important;
  }
  img {
    border-radius: 15px;
    width: 100%;
    height: 165px;
  }
}

.card_body {
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
}
